In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
%matplotlib inline
from packages.c45 import *
from packages.importer import *
from packages.binaryTree import *
from packages.plotter import *
import packages.classifier as cl
import math

path = 'datasets/test_2.csv'
problem = import_csv(path)
data = problem.data
trainData = problem.trainData
attributes = problem.attributes
classcolumn = problem.classcolumn
classes = problem.classes

tree = decisionTree(data, attributes, classes, classcolumn, BinaryTree(), threshold = 0.1, gainFunc = 'gain')
print(tree)

nodeType: decision - value: ancho - limit: 39.85
|-nodeType: leaf - value: Clase 1 - supportCount: 235 - confidence: 235/239
|-nodeType: decision - value: ancho - limit: 59.56
  |-nodeType: leaf - value: Clase 2 - supportCount: 238 - confidence: 238/248
  |-nodeType: decision - value: ancho - limit: 63.6
    |-nodeType: decision - value: alto - limit: 31.12
      |-nodeType: decision - value: alto - limit: 20.96
        |-nodeType: leaf - value: Clase 2 - supportCount: 1 - confidence: 1/1
        |-nodeType: leaf - value: Clase 3 - supportCount: 10 - confidence: 10/10
      |-nodeType: decision - value: alto - limit: 35.9
        |-nodeType: decision - value: alto - limit: 32.51
          |-nodeType: leaf - value: Clase 2 - supportCount: 2 - confidence: 2/2
          |-nodeType: decision - value: alto - limit: 34.93
            |-nodeType: leaf - value: Clase 3 - supportCount: 1 - confidence: 1/1
            |-nodeType: leaf - value: Clase 2 - supportCount: 2 - confidence: 2/2
        |-nodeType: decision - value: alto - limit: 36.64
          |-nodeType: leaf - value: Clase 3 - supportCount: 2 - confidence: 2/2
          |-nodeType: decision - value: alto - limit: 37.85
            |-nodeType: leaf - value: Clase 2 - supportCount: 1 - confidence: 1/1
            |-nodeType: leaf - value: Clase 3 - supportCount: 2 - confidence: 2/2
    |-nodeType: leaf - value: Clase 3 - supportCount: 192 - confidence: 192/192

Si es el primer atributo, entonces es el eje X, sino es Y

In [2]:
data.shape[0]

700

In [3]:
trainData.shape[0]

300

In [4]:
classifier = cl.Classifier(attributes)
acc = classifier.classifyDataFrame(tree, trainData)
acc

0.9666666666666667

In [5]:
data.iloc[1]

ancho      30.82
alto       43.33
clase    Clase 1
Name: 4, dtype: object

In [6]:
data.head()

    ancho   alto    clase
2   32.39  32.97  Clase 1
4   30.82  43.33  Clase 1
6   36.36  38.31  Clase 1
7   31.63  31.34  Clase 1
10  29.43  33.21  Clase 1